<aside class="sidebar left-sidebar sticky">
    
    <header class="site-info">
        {{- with .Site.Params.sidebar.avatar -}}
            {{- $avatarSrc := . -}}
            {{- $isLocal := false -}}
            {{- if reflect.IsMap . -}}
                {{- $avatarSrc = .src -}}
                {{- $isLocal = .local -}}
            {{- end -}}
            <figure class="site-avatar">
                <a href="{{ $.Site.BaseURL | default "/" }}">
                    {{- if $isLocal -}}
                        <img src="{{ $avatarSrc | relURL }}" width="300" height="300" class="avatar" loading="lazy" alt="Avatar">
                    {{- else -}}
                        <img src="{{ $avatarSrc }}" width="300" height="300" class="avatar" loading="lazy" alt="Avatar">
                    {{- end -}}
                </a>
                {{- if reflect.IsMap . -}}
                    {{- if .emoji -}}<span class="emoji">{{ .emoji }}</span>{{- end -}}
                {{- end -}}
            </figure>
        {{- end -}}

        <h1 class="site-name">
            <a href="{{ .Site.BaseURL | default '/' }}">
                {{ if .Site.Title }}{{ .Site.Title }}{{ else }}{{ .Site.Author.name }}{{ end }}
            </a>
        </h1>
        <h2 class="site-description">{{ .Site.Author.bio }}</h2>
    </header>

    <ol class="menu-social">
        {{ partial "sidebar/menu.html" . }}
    </ol>

    <section class="sidebar-widgets">
        {{ partial "widget/categories.html" (dict "Context" . "Params" (dict "limit" 10)) }}

        {{- $widgets := .Site.Params.widgets.homepage -}}
        {{- if .IsPage -}}
            {{- $widgets = .Site.Params.widgets.page -}}
        {{- end -}}

        {{- range $widgets -}}
            {{- if ne .type "categories" -}}
                {{- partial (printf "widget/%s" .type) (dict "Context" $ "Params" .) -}}
            {{- end -}}
        {{- end -}}
    </section>
    
    </aside>

</aside>