<nav class="menu">
    <ul class="menu-list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ $active := or (eq $currentPage.RelPermalink .URL) (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}
            
            <li {{ if $active }} class='current' {{ end }} 
                {{ with .Params.hue }} style="--active-hue: {{ . }};" {{ end }}>
                
                <a href='{{ .URL }}' 
                class="menu-link" 
                {{ if eq .Params.newTab true }}target="_blank"{{ end }}>
                    
                    {{ $icon := default .Pre .Params.Icon }}
                    {{ if .Pre }}
                        {{ warnf "..." .URL }}
                    {{ end }}
                    {{ with $icon }}
                        {{ partial "helper/icon" . }}
                    {{ end }}
                    <span>{{- .Name -}}</span>
                </a>
            </li>
        {{ end }}
    </ul>
</nav>